.companyStats {
  .circle{
    color: #000;
    width: 100px;
    margin: 20px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
    left: 32%;
  }

  .header {
    text-align: center;
  }

  .leftextra {
    left: 36%;
  }

  strong {
      position: absolute;
      top: 40px;
      left: 9px;
      width: 100%;
      text-align: center;
      line-height: 40px;
      font-size: 30px;
      font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif
  }

  .strongextra {
      position: absolute;
      top: 66px;
      left: 37px;
      width: 100%;
      text-align: center;
      line-height: 40px;
      font-size: 42px;
      font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif
  }

  .horizontal{
    height: 20px;
  }
}
