.companyStats {
  .circle{
    color: #000;
    width: 100px;
    margin: 20px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
    left: 32%;
  }

  .header {
    text-align: center;
  }

  .leftextra {
    left: 36%;
  }

  strong {
      position: absolute;
      top: 40px;
      left: 9px;
      width: 100%;
      text-align: center;
      line-height: 40px;
      font-size: 30px;
      font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif
  }

  .strongextra {
      position: absolute;
      top: 66px;
      left: 37px;
      width: 100%;
      text-align: center;
      line-height: 40px;
      font-size: 42px;
      font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif
  }

  .horizontal{
    height: 20px;
  }

  .card{
    background-color: #69224F;
    color: #fff;
    padding: 3px;
    border-radius: 6px;
  }

  .imageArea{
    margin: 3px 0 12px 6px !important;
    border-radius:0%;
  }

  .statIcon{
    height:72px;
    width:54px;
    margin-top:10px;
    border-radius:0%;
  }

  .statDetails{
    text-align:center;
    padding: 0px 3px 0px 70px;
  }

  .statTopText{
    color: #fff;
    text-align:center;
  }

  .marketStats{
    background-color: #9D7E91;
    height: 220px;
    padding-top: 2px;
    border-radius: 10px;
    width: 710px;
  }
}
